*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: darkgrey;
}

.container {
    padding: 30px;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navbar'
    'hero';
}
/* navbar ini cuy */
.navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 'kiri kanan ';
    justify-content: center;
    align-items: center;
}

.navbar h2 {
    display: grid;
    grid-area: kiri;
}

.list {
    display: grid;
    grid-area: kanan;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.list a{
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

.wrapper-toggle {
    display: none;
    width: 100%;
    display: flex;
    justify-content: right;
}

.toggle{
    background-image: url(/image/hamburger.png);
    width: 20px;
    height: 20px;
    background-color: white;
    background-size: cover;
    display: none;
    
}

/* ini hero image cuy */

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'training training junior'
    'training training senior';
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.training {
    grid-area: training;
    background-image: url(/image/f2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    text-align: center;
}

.training-title {
    text-shadow: 0px 0px 5px white;
}

.junior {
    grid-area: junior;
    background-image: url(/image/f3.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    text-shadow: 0px 0px 5px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.senior{
    grid-area: senior;
    background-image: url(/image/f1.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    text-shadow: 0px 0px 5px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ini bagian servicenya cuy */

.section-service {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}

.bootcamp{
    width: 100%;
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 10px;
}
.talent{
    width: 100%;
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 10px;
}
.coaching{
    width: 100%;
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 10px;
}
.tournament{
    width: 100%;
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 10px;
}

/* ini galeri */

.title-gallery{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 600px));
    width: 100%;
    
}

.photo{
   display: flex;
   justify-content: center;
   size: cover;
}



/* ini responsive cuy */

@media (max-width: 1020px){
    .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'hero'
    'navbar';
    }
    .navbar{
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 'kanan ';
    justify-content: center;
    align-items: center;
    margin-top:20px;
    }
    .navbar h2 {
    display: none;
    }
}

@media (max-width:524px) {
    .container{
        padding: 15px;
    }
    .navbar{
        display: none;
    }
    .wrapper-toggle{
        display: flex;
    }

    .toggle{
        display: block;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'toggle'
        'hero';
    }
}

@media (max-width: 400px) {
    .hero {
        grid-area: hero;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'training '
        'junior'
        'senior';
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .training{
        min-height: 200px;
    }

    .junior{
        min-height: 100px;
    }

    .senior{
        min-height: 100px;
    }
}

